{# src/Augustine/PlatformBundle/Resources/views/Advert/history.html.twig #}

{% extends "AugustinePlatformBundle::layout.html.twig" %}

{% block title %}
    Historique -{{ parent() }}
{% endblock %}

{% block augustineplatform_body %}

    <div id="about" >
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 sub-head">
                    <h2  data-wow-delay="0.9s" class="wow rollIn animated" ><strong>Historique </strong></h2>
                    <!--<p class="sub-head">Un peu de news... </p>-->
                </div>
            </div>
            <div class="row ">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for actualite in actualite %}
                        {% if true == actualite.isHisto %}
                            {% include "AugustinePlatformBundle:Advert:actualite_contenu.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <a href="{{ path('augustine_platform_home') }}" class="btn btn-default">
        Retour à l'acceuil
    </a>

{% endblock %}