{# src/Augustine/PlatformBundle/Resources/views/Advert/editer.html.twig #}

{% extends "AugustinePlatformBundle::layout.html.twig" %}

{% block title %}
    Editer -{{ parent() }}
{% endblock %}

{% block augustineplatform_body %}

    <div class="col-lg-offset-4 col-md-offset-6 col-sm-offset-4">
        <div id="ajout" class="pad-top-botm">
            <h2>Ajout d'une Annonce</h2>
            <form action="{{ path ('augustine_platform_editer', { id: id }) }}" method ="post">
                {{ form_widget(form) }}

                <input type="submit">
                <input type="reset" />
            </form>
        </div>
    </div>
    <a href="{{ path('augustine_platform_home') }}" class="btn btn-default">
        Retour à l'acceuil
    </a>
{% endblock %}